 
    


.one{
    background: grey;
    width: auto;
    height: auto;
    
    
}

.two{
    background: rgb(14, 226, 148);
    width: auto;
    height: auto;
}
.three{
    background: rgb(47, 56, 242);
    width: auto;
    height: auto;
}
.four{
    background: rgb(178, 13, 234);
    width: auto;
    height: auto;
}
img{
    width: 200px;
    height: 100pxpx;
}





